.header {
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-button {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  letter-spacing: -0.03em;
  border: 0;
  background-color: transparent;
}

.logo-button:focus {
  outline: 0;
}

.logo-button:focus-visible {
  outline: 1px solid black;
}

.logo-button:active {
  scale: 0.95;
  outline: 0;
}

header .pokeball {
  margin-bottom: 3px;
}

header .poke {
  color: rgb(238, 10, 10);
  font-size: 26px;
}

header .memo {
  color: rgb(252, 252, 252);
  font-size: 26px;
}

header .logo {
  width: 128px;
  height: 128px;
}