.stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  color: #261526;
}

.stats .best-score {
  display: flex;
  align-items: center;
}

.stats .best-score span {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.stats .nes-icon.trophy {
  transform: scale(1.25);
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .stats {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .stats .best-score {
    margin-top: 10px;
  }
}