@media screen and (max-width: 768px) {
.start-screen-modal-content {
  padding: 16px;  
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(241, 239, 239, 0.932);
}
.level-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 8px 0;
  letter-spacing: -0.08em;
}
}
.github-repo:hover,
.github-repo {
  color: inherit;
  text-decoration: none;
}

.ask-text {
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: -0.05em;
  animation: typing 0.9s steps(60, end), blink-caret 0.75s step-end infinite;
  text-align: center;
}

.start-options {
  display: flex;
  flex-direction: column;
}

.start-screen-modal-content form {
  margin-top: 24px;
  animation: appear 0.9s;
  display: flex;
  flex-direction: column;
  gap: 12px;
}



@keyframes appear {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    white-space: nowrap;
    width: 0;
  }

  to {
    white-space: nowrap;
    width: 100%;
  }
}
